*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*{
    box-sizing: border-box;
}


:root{
    --orange:#FD8558;;
    --black:#222222;
    --grey:#F7F7F7;
    --greyTwo:#CACACA;
    --blackBg:#2F303A;
    --bgSection:#F5F5F5;
}
a{text-decoration: none;}
li{list-style: none;}
button{border: none; cursor: pointer;}
img{
    display: block;
}

body{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.003em;
    font-style: normal;
}
.header {
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.row-container{display: flex; justify-content: center; align-items: baseline;}
.logo-container {margin-right: auto; }
.spike{width: 22px;height: 20px;background-color: transparent;margin-left: auto;}

.logo {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.607;
    letter-spacing: 1.1px;
    text-transform: lowercase;
    color: var(--black);
}
/* .nav {
} */
.ul-row {
    display: flex;
    gap: 30px;
}
/* .list-comtainer {
} */
.nav-link {
    display: block;
    padding: 27px 0 45px 0;
    font-size: 15px;
    line-height: 0.0666;
    /* identical to box height, or 9% */
    letter-spacing: 0.2px;
    text-transform: lowercase;
    color: var(--black);
}
.active{
    color: var(--orange);
}
.nav-link:hover{
    color: var(--orange);
}
.main {
    
}
.section-sub-header {
    height: 840px;
    background-image: url(../images/bg-image.jpg);
}
.sub-header{height: 100%;}
.center-container {
    height: 100%;
    text-align: center;
}
.main-title {
    padding-top: 175px;
    margin-bottom: 41px;
    font-size: 70px;
    line-height: 1.214;
    color: #ffffff;
}
.btn-container{ 
    display: flex;
    justify-content: center;
    gap: 28px;
}

.sub-header-btn {
    padding: 13px 39px;
    background-color: transparent;
    border: 2px solid var(--orange);
    font-weight: 700;
    font-size: 15px;
    line-height: 2;
    color: #FFFFFF;
}
.sub-header-btn:hover{background-color: var(--orange);}

.section {
    padding-top: 52px;
}
.section-title {
    font-size: 150px;
    line-height: 145px;
    letter-spacing: 0.1px;
    color: #F7F7F7;
    margin-bottom: 40px;
}
.container {
}
.container-row {
    display: flex;
    padding: 0 44px;
}
.half-container {
    width: 50%;
}
.half-container-title {
    font-weight: 200;
    font-size: 15px;
    line-height: 0.0666;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--orange);
    margin-bottom: 50px;
}
.txt-big {
    font-size: 40px;
    line-height: 1.351;
    color: #333333;
}
.txt-black {
    font-size: 18px;
    line-height: 1.566;
    text-transform: capitalize;
    color: #222222;
}
.txt-gray {
    margin-top: 11px;
    font-size: 15px;
    line-height: 1.711;
    color: #999999;
}

.footer {
}