*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*{
    box-sizing: border-box;
}


:root{
    --orange:#FD8558;;
    --black:#222222;
    --grey:#F7F7F7;
    --greyTwo:#CACACA;
    --blackBg:#2F303A;
    --bgSection:#F5F5F5;
}
a{text-decoration: none;}
li{list-style: none;}
button{border: none; cursor: pointer;}
img{
    display: block;
}

body{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.003em;
    font-style: normal;
}
.header {
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.row-container{display: flex; justify-content: center; align-items: baseline;}
.logo-container {margin-right: auto; }
.spike{width: 22px;height: 20px;background-color: transparent;margin-left: auto;}

.logo {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.607;
    letter-spacing: 1.1px;
    text-transform: lowercase;
    color: var(--black);
}
.nav {
}
.ul-row {
    display: flex;
    gap: 30px;
}
.list-comtainer {
}
.nav-link {
    display: block;
    padding: 27px 0 45px 0;
    font-size: 15px;
    line-height: 0.0666;
    /* identical to box height, or 9% */
    letter-spacing: 0.2px;
    text-transform: lowercase;
    color: var(--black);
}
.active{
    color: var(--orange);
}
.nav-link:hover{
    color: var(--orange);
}
.main {
}
.footer {
}